<ion-view view-title="Account" ng-controller="AccountCtrl as ac">
  <ion-content class="padding">
    <h1>This will be the Edit account page.</h1>
    <h2>Will enable/disable notifications and accessibility</h2>
    <h3>{{ac.message}}</h3>

    <button class="button button-light button-block" type="button" name="edit" ng-click="ac.showEdit = !ac.showEdit;">Update Account Information</button>
    <form class="" method="post" ng-show="ac.showEdit">
      <input type="email" name="email" value="" placeholder="Email" ng-model="ac.account.info.email">
      <input type="password" name="password" value="" placeholder="Password" ng-model="ac.account.password">
      <input type="password" name="password" value="" placeholder="Confirm Password" ng-model="ac.account.confirmPassword">
      <button class="button button-light button-block" type="submit" name="update" ng-click="ac.updateAccount(ac.account.info.id, ac.account.info.email, ac.account.confirmPassword)">Update Account</button>
    </form>

  </ion-content>
</ion-view>
