<ion-view view-title="Add Snake">
  <ion-content class="padding" ng-controller="addSnakeCtrl as asc">
    <h1>This will become main Add Snake page</h1>
    <h3>{{asc.message}}</h3>
    <form class="" method="post">
      <input type="text" name="name" value="" placeholder="Snake Name/Identifier">
      <select class="" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <label for="hatch_year">Hatch Year</label>
      <input type="date" name="hatch_year" value="">
      <select class="" name="age">
        <option value="breeder">Breeder</option>
        <option value="yearling">Yearling</option>
        <option value="hatchling">Hatchling</option>
      </select>
      <!-- Possible image upload here -->
      <!-- Could use cloudinary or native -->
      <input type="text" name="img_url" value="" placeholder="Image URL">
      <button type="submit" name="submit">Add Snake</button>
    </form>
  </ion-content>
</ion-view>
