<form class="" >
    <label for="date_weighed">Date Weighed</label>
    <input type="date" name="date_weighed" value="" ng-model="sdc.date_weighed">
    <br>
    <label for="Weight">Weight Grams</label>
    <input type="number" name="weight" value="" ng-model="sdc.weight">
    <button class="button button-light button-block ion-plus-round" type="button" name="button" ng-click="sdc.addWeightInfo(sdc.weight, sdc.date_weighed)">Add Weight</button>
    <button ng-click="sdc.showAddWeight = !sdc.showAddWeight;" class="button button-stable button-block">Close</button>
</form>
