<ion-view view-title="Clutches" cache-view="false">
  <ion-content scroll="false">
  	<div class="bar bar-header bar-positive">
      <input type="text" name="search" ng-model="cc.search.name" placeholder="Search by Name">
      <button type="button" name="addClutch" ng-click="cc.$state.go('tab.addClutch')">Add Clutch</button>
  	</div>
  </ion-content>
  <ion-content class="padding">
    <br>
    <div class="card" ng-repeat="clutch in cc.clutches.arr | filter:{name: cc.search.name}" ng-click="cc.$state.go('tab.clutch-details', {clutchId: {{clutch.id}}});" style="width: 95%; float: left; padding: 10px; margin: 10px; float: clear-top; text-align: center">
      <!-- {{clutch}} -->
      <img ng-src="{{clutch.image_url}}" alt="clutch-image-here" height="150px" width="150px"/>
      <h4>Dame: {{clutch.name}}</h4>
      <h4>Date Layed: {{clutch.date_layed | date}}</h4>
      <h4>Notes: {{clutch.notes}}</h4>
      <h4>Eggs Layed: {{clutch.number_layed}}</h4>
      <h5>Bad Eggs: {{clutch.bad_eggs}}</h5>
      <h5>Hatched: {{clutch.number_hatched}}</h5>
    </div>
  </ion-content>
</ion-view>
