<ion-view view-title="Edit Clutch Details" ng-controller="editClutchCtrl as ecc">
  <ion-content class="padding">
    <h1>Edit Clutch DETAILS HERE</h1>
    <h3>{{ecc.message}}</h3>
    <!-- Will be a PUT to update  -->
    <form class="" action="/clutches/:id/edit" method="post">
      <input type="id" name="dame" value="" placeholder="Dame">
      <input type="date" name="date_layed" value="" placeholder="Date Layed">
      <input type="textarea" name="notes" value="" placeholder="Notes">
      <label for="eggs_layed">Number of Eggs Layed</label>
      <input type="number" name="eggs_layed" value="">
      <label for="bad_eggs">Infertile Eggs</label>
      <input type="number" name="bad_eggs" value="">
      <label for="Number of Eggs Hatched">Eggs Hatched</label>
      <input type="number" name="eggs_hatched" value="">
      <button type="submit" name="submit">Edit Clutch</button>
    </form>
  </ion-content>
</ion-view>
