<!-- <ion-view hide-nav-bar="true">
  <ion-content class="padding">

    <h2 style="color: #F14C93; font-weight: bold;">SNEKTRAKR5000</h2>

    <div class="card rounded padding" style="background-color: #1DE7A0;">
      <h3 style="text-align: center">LOGIN</h3>
      <form action="/" method="post" name="lc.loginForm">
        <label for="email">Email</label>
        <input type="text" name="email" value="" placeholder="Email" ng-model="loginForm.email">
        <label for="password">PASSWORD</label>
        <input type="password" name="password" value="" placeholder="Password" ng-model="loginForm.password">
        <br>
        <button style="background-color: green" class="button button-light button-block" type="button" name="login" ng-click="lc.login(loginForm.email, loginForm.password)">Login</button>
      </form>
      <h4>or signup here!</h4>
      <button class="button button-light button-block" type="button" name="signup" ng-click="lc.signup(loginForm.email, loginForm.password)">Signup</button>
    </div>
    <div class="" >
      <button style="background-color: red" class="button button-light button-block" type="button" name="logout" ng-click="lc.logout()">Logout</button>
    </div>
  </ion-content>
</ion-view> -->
