<ion-view view-title="Login">
  <ion-content class="padding">

    <h2 style="color: #F14C93; font-weight: bold;">SNEKTRAKR5000</h2>

    <div class="card rounded padding" style="background-color: #1DE7A0;">
      <!-- LOGIN FORM -->
      <h3 style="text-align: center">LOGIN</h3>
      <form action="/" method="post" name="lc.loginForm">
        <label for="email">Email</label>
        <input type="text" name="email" value="" placeholder="Email" ng-model="loginForm.email">
        <label for="password">PASSWORD</label>
        <input type="password" name="password" value="" placeholder="Password" ng-model="loginForm.password">
        <br>
        <button type="button" name="login" ng-click="lc.login(loginForm.email, loginForm.password)">Login</button>
      </form>
      <h4>or signup here!</h4>
      <button type="button" name="signup" ng-click="lc.signup(loginForm.email, loginForm.password)">Signup</button>
    </div>
    <!-- Nuke Below this comment  -->
    <p>
      If logged in Would like to route to snakes listing page
    </p>

    <h4>Message: {{lc.message}}</h4>
    <p>
      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.
    </p>

    <div class="" ng-controller="pictureController as pc">
      <button type="button" name="button" ng-click="pc.takePicture()">TAKE A PICTURE</button>
    </div>

    <!-- Nuke Above this comment -->
  </ion-content>
</ion-view>
