<ion-view hide-nav-bar="true" cache-view="false">

  <ion-content scroll="false">
  	<div class="bar bar-header search">
      <input style="margin-right: 5px;" type="text" name="search" ng-model="sc.search.name" placeholder="Search by Name">
      <button  type="button" name="addSnakeBtn" ng-click="sc.$state.go('tab.addSnake');"><i class="icon ion-plus-circled"> Add Snake</i></button>
  	</div>
  </ion-content>
  <ion-content class="padding">
    <br>
    <br>
    <div class="" ng-repeat="snake in sc.snakes.arr | filter:{name: sc.search.name}" ng-click="sc.$state.go('tab.snake-details', {snakeId: {{snake.id}}});">
      <div class="card"   style="width: 95%; float: left; padding: 10px; margin: 10px; float: clear-top;">
        <div class="" style="float: left;">
          <img   ng-src="{{snake.image_url}}" alt="snake-image-here" height="200px" width="200px" style="padding: 10px; margin: 5px"/>
        </div>
        <h4>Name: {{snake.name}}</h4>
        <!-- <h5>Notes: {{snake.notes}}</h5> -->
        <h5>Gender: {{snake.sex}}</h5>
        <h5>Age Group: {{snake.group}}</h5>
        <h5>Hatched: {{snake.year_hatched | date : 'yyyy'}}</h5>
      </div>
    </div>

  </ion-content>
</ion-view>
