<ion-view view-title="Snakes List">
  <ion-content class="padding">
    <h1>This will become main Snakes page</h1>
    <h3>{{sc.message}}</h3>
    <div class="" ng-repeat="snake in sc.snakes.arr" ng-click="sc.$state.go('tab.snake-details', {snakeId: {{snake.id}}});">
      <!-- ng-click="sc.$state.go('tab.snake-details', {snakeId: {{snake.id}}}); -->
      <div class="card"   style="width: 300px; float: left; padding: 10px; margin: 10px;">
      <img ng-src="{{snake.image_url}}" alt="snake-image-here" height="50px" width="50px"/>
        {{snake.id}}
        <h4>{{snake.name}}</h4>
        <h5>{{snake.notes}}</h5>
        <h5>{{snake.sex}}</h5>
        <h5>{{snake.group}}</h5>
        <h5>{{snake.year_hatched}}</h5>
      </div>
    </div>


    <h1>End of list</h1>

  </ion-content>
</ion-view>
