
<ion-tabs class="tabs-icon-top tabs-color-active-primary">

  <!-- Login Tab -->
  <!-- <ion-tab title="Login" icon-off="ion-person" icon-on="ion-person" href="#/tab/login">
    <ion-nav-view name="login"></ion-nav-view>
  </ion-tab> -->

  <!-- snakesList Tab -->
  <ion-tab title="Snakes" icon-off="ion-navicon" icon-on="ion-navicon" href="#/tab/snakesList">
    <ion-nav-view name="snakesList"></ion-nav-view>
  </ion-tab>

  <!-- Clutches Tab -->
  <ion-tab title="Clutches" icon-off="ion-egg" icon-on="ion-egg" href="#/tab/clutches">
    <ion-nav-view name="clutches"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
